Repository WDTT-CodingClub/NBDream, pull requests merged in 2024-06, with the labels that each got.

#91 Feature/accountbook
  app/src/main/java/kr/co/wdtt/nbdream/domain/entity/AccountBookEntity.kt
  app/src/main/java/kr/co/wdtt/nbdream/ui/accountbook/main/AccountBookBottomSheet.kt
  app/src/main/java/kr/co/wdtt/nbdream/ui/accountbook/main/AccountBookGraph.kt
  app/src/main/java/kr/co/wdtt/nbdream/ui/accountbook/main/AccountBookScreen.kt
  app/src/main/java/kr/co/wdtt/nbdream/ui/accountbook/main/AccountBookViewModel.kt
  app/src/main/java/kr/co/wdtt/nbdream/ui/theme/Typo.kt
Labels: 🤖 android, ✨ feat

#92 캘린더 화면 UI 작업 중 (일정 항목, 영농일지 항목, 농작업일정 캘린더)
  app/build.gradle.kts
  app/src/main/java/kr/co/wdtt/nbdream/data/mapper/FarmWorkMapper.kt
  app/src/main/java/kr/co/wdtt/nbdream/data/mapper/WeatherForecastMapper.kt
  app/src/main/java/kr/co/wdtt/nbdream/data/repository/FarmWorkRepositoryImpl.kt
  app/src/main/java/kr/co/wdtt/nbdream/domain/entity/DiaryEntity.kt
  app/src/main/java/kr/co/wdtt/nbdream/domain/entity/DreamCrop.kt
  app/src/main/java/kr/co/wdtt/nbdream/domain/entity/DreamCropColor.kt
  app/src/main/java/kr/co/wdtt/nbdream/domain/entity/FarmWorkEntity.kt
  app/src/main/java/kr/co/wdtt/nbdream/domain/entity/ScheduleEntity.kt
  app/src/main/java/kr/co/wdtt/nbdream/domain/repository/DiaryRepository.kt
  app/src/main/java/kr/co/wdtt/nbdream/domain/repository/FarmWorkRepository.kt
  app/src/main/java/kr/co/wdtt/nbdream/domain/repository/WorkDiaryRepository.kt
  app/src/main/java/kr/co/wdtt/nbdream/domain/usecase/GetFarmWorkImpl.kt
  app/src/main/java/kr/co/wdtt/nbdream/ui/Flows.kt
  app/src/main/java/kr/co/wdtt/nbdream/ui/icon/dreamicon/Add.kt
  app/src/main/java/kr/co/wdtt/nbdream/ui/icon/dreamicon/Alarm.kt
  app/src/main/java/kr/co/wdtt/nbdream/ui/icon/dreamicon/ArrowLeft.kt
  app/src/main/java/kr/co/wdtt/nbdream/ui/icon/dreamicon/ArrowRight.kt
  app/src/main/java/kr/co/wdtt/nbdream/ui/icon/dreamicon/Delete.kt
  app/src/main/java/kr/co/wdtt/nbdream/ui/icon/dreamicon/Dropdown.kt
  app/src/main/java/kr/co/wdtt/nbdream/ui/icon/dreamicon/Edit.kt
  app/src/main/java/kr/co/wdtt/nbdream/ui/icon/dreamicon/Search.kt
  app/src/main/java/kr/co/wdtt/nbdream/ui/icon/dreamicon/Spinner.kt
  app/src/main/java/kr/co/wdtt/nbdream/ui/icon/dreamicon/Sprout.kt
  app/src/main/java/kr/co/wdtt/nbdream/ui/icon/dreamicon/__DreamIcon.kt
  app/src/main/java/kr/co/wdtt/nbdream/ui/main/calendar/CalendarBaseCard.kt
  app/src/main/java/kr/co/wdtt/nbdream/ui/main/calendar/CalendarScreen.kt
  app/src/main/java/kr/co/wdtt/nbdream/ui/main/calendar/CalendarViewModel.kt
  app/src/main/java/kr/co/wdtt/nbdream/ui/main/calendar/FarmWorkCalendar.kt
  app/src/main/java/kr/co/wdtt/nbdream/ui/main/calendar/ScheduleCalendar.kt
  app/src/main/java/kr/co/wdtt/nbdream/ui/main/calendar/content/CalendarContentWrapper.kt
  app/src/main/java/kr/co/wdtt/nbdream/ui/main/calendar/content/DiaryContent.kt
  app/src/main/java/kr/co/wdtt/nbdream/ui/main/calendar/content/ScheduleContent.kt
  app/src/main/java/kr/co/wdtt/nbdream/ui/main/calendar/providers/FakeDiaryEntityProvider.kt
  app/src/main/java/kr/co/wdtt/nbdream/ui/main/calendar/providers/FakeFarmWorkEntityListProvider.kt
  app/src/main/java/kr/co/wdtt/nbdream/ui/main/calendar/providers/FakeScheduleEntityProvider.kt
  app/src/main/java/kr/co/wdtt/nbdream/ui/theme/Color.kt
  app/src/main/java/kr/co/wdtt/nbdream/ui/util/LocalDateExtensions.kt
  app/src/main/res/values/strings.xml
  gradle/libs.versions.toml
Labels: 🤖 android, 🎨design

#93 Feature/community
  app/src/main/java/kr/co/wdtt/nbdream/domain/repository/BulletinRepository.kt
  app/src/main/java/kr/co/wdtt/nbdream/domain/repository/UploadImageRepository.kt
  app/src/main/java/kr/co/wdtt/nbdream/ui/main/community/BulletinDetailScreen.kt
  app/src/main/java/kr/co/wdtt/nbdream/ui/main/community/BulletinWritingScreen.kt
  app/src/main/java/kr/co/wdtt/nbdream/ui/main/community/CommunityViewModel.kt
  app/src/main/java/kr/co/wdtt/nbdream/ui/main/community/temp/WritingSelectedImageModel.kt
Labels: 🤖 android, ✨ feat

#98 Feature/#94 주소 입력 화면 UI/기능(지도 제외), 재배 작물 선택 화면 UI 구현
  .idea/deploymentTargetSelector.xml
  .idea/gradle.xml
  app/build.gradle.kts
  app/src/main/java/kr/co/wdtt/nbdream/MainViewModel.kt
  app/src/main/java/kr/co/wdtt/nbdream/ui/DreamApp.kt
  build-src/convention/src/main/kotlin/kr/co/wdtt/convention/ProjectExtensions.kt
  core/data/src/main/java/kr/co/data/model/ApiResponse.kt
  core/domain/src/main/java/kr/co/domain/entity/HolidayEntity.kt
  core/domain/src/main/java/kr/co/domain/entity/ScheduleEntity.kt
  core/domain/src/main/java/kr/co/domain/entity/plzLookThisPakage/DreamCrop.kt
  core/domain/src/main/java/kr/co/domain/repository/DiaryRepository.kt
  core/domain/src/main/java/kr/co/domain/repository/UploadImageRepository.kt
  core/impl/src/main/java/kr/co/impl/GetCalendarDateImpl.kt
  core/impl/src/main/java/kr/co/impl/GetFarmWorkImpl.kt
  core/ui/src/main/java/kr/co/ui/base/BaseViewModel.kt
  feature/main/src/main/java/kr/co/main/MainRoute.kt
  feature/main/src/main/java/kr/co/main/accountbook/main/AccountBookBottomSheet.kt
  feature/main/src/main/java/kr/co/main/accountbook/main/AccountBookGraph.kt
  feature/main/src/main/java/kr/co/main/accountbook/main/AccountBookScreen.kt
  feature/main/src/main/java/kr/co/main/accountbook/main/AccountBookViewModel.kt
  feature/main/src/main/java/kr/co/main/calendar/CalendarBaseCard.kt
  feature/main/src/main/java/kr/co/main/calendar/CalendarScreen.kt
  feature/main/src/main/java/kr/co/main/calendar/CalendarViewModel.kt
  feature/main/src/main/java/kr/co/main/calendar/FarmWorkCalendar.kt
  feature/main/src/main/java/kr/co/main/calendar/ScheduleCalendar.kt
  feature/main/src/main/java/kr/co/main/calendar/content/CalendarContentWrapper.kt
  feature/main/src/main/java/kr/co/main/calendar/content/DiaryContent.kt
  feature/main/src/main/java/kr/co/main/calendar/content/ScheduleContent.kt
  feature/main/src/main/java/kr/co/main/calendar/providers/FakeFarmWorkEntityListProvider.kt
  feature/main/src/main/java/kr/co/main/calendar/providers/FakeScheduleEntityProvider.kt
  feature/main/src/main/java/kr/co/main/community/BulletinDetailScreen.kt
  feature/main/src/main/java/kr/co/main/community/BulletinWritingScreen.kt
  feature/main/src/main/java/kr/co/main/community/CommunityScreen.kt
  feature/main/src/main/java/kr/co/main/community/CommunityViewModel.kt
  feature/main/src/main/java/kr/co/main/community/temp/WritingSelectedImageModel.kt
  feature/main/src/main/java/kr/co/main/home/HomeRoute.kt
  feature/main/src/main/java/kr/co/main/home/HomeViewModel.kt
  feature/onboard/build.gradle.kts
  feature/onboard/src/main/java/kr/co/onboard/OnBoardRoute.kt
  feature/onboard/src/main/java/kr/co/onboard/login/InputAddressScreen.kt
  feature/onboard/src/main/java/kr/co/onboard/login/Login.kt
  feature/onboard/src/main/java/kr/co/onboard/login/LoginSplash.kt
  feature/onboard/src/main/java/kr/co/onboard/login/SelectCropScreen.kt
  feature/onboard/src/main/java/kr/co/onboard/navigation/OnBoardNavigation.kt
  gradle/libs.versions.toml
  settings.gradle.kts
  source/oauth/build.gradle.kts
  source/remote/src/main/java/kr/co/remote/model/response/FarmWorkResponse.kt
Labels: 🤖 android, ✨ feat

#99 로그인 토큰 DataStore Test
  build-src/convention/src/main/kotlin/kr/co/wdtt/convention/ProjectExtensions.kt
  core/ui/src/androidTest/java/kr/co/ui/ExampleInstrumentedTest.kt
  feature/main/src/main/java/kr/co/main/home/HomeRoute.kt
  gradle/libs.versions.toml
  source/local/src/test/java/kr/co/local/ExampleUnitTest.kt
  source/local/src/test/java/kr/co/local/SessionDataStoreTest.kt
  source/remote/src/test/kotlin/kr/co/remote/LocalPropertiesTest.kt
Labels: 🤖 android, 🔎 test

#101 Chore: 글쓰기 플로팅버튼, 커뮤니티 내비게이션 적용
  feature/main/src/main/java/kr/co/main/community/BulletinDetailScreen.kt
  feature/main/src/main/java/kr/co/main/community/BulletinWritingScreen.kt
  feature/main/src/main/java/kr/co/main/community/CommunityScreen.kt
  feature/main/src/main/java/kr/co/main/community/temp/TempCommunityApp.kt
  feature/main/src/main/java/kr/co/main/community/temp/navigation/CommunityNavigation.kt
Labels: 🤖 android, 🎨design

#103 캘린더 화면 '메인 캘린더' 작업 중 / DreamCrop 클래스 CropEntity로 변경
  .idea/deploymentTargetSelector.xml
  core/common/src/main/java/kr/co/common/util/LocalDateExtensions.kt
  core/data/src/main/java/kr/co/data/mapper/FarmWorkMapper.kt
  core/data/src/main/java/kr/co/data/mapper/HolidayMapper.kt
  core/data/src/main/java/kr/co/data/mapper/WeatherForecastMapper.kt
  core/domain/src/main/java/kr/co/domain/entity/BulletinEntity.kt
  core/domain/src/main/java/kr/co/domain/entity/CropEntity.kt
  core/domain/src/main/java/kr/co/domain/entity/DiaryEntity.kt
  core/domain/src/main/java/kr/co/domain/entity/FarmWorkEntity.kt
  core/domain/src/main/java/kr/co/domain/entity/HolidayEntity.kt
  core/domain/src/main/java/kr/co/domain/entity/ScheduleEntity.kt
  core/domain/src/main/java/kr/co/domain/entity/UserEntity.kt
  core/domain/src/main/java/kr/co/domain/entity/WeatherForecastEntity.kt
  core/domain/src/main/java/kr/co/domain/entity/WorkDiaryEntity.kt
  core/domain/src/main/java/kr/co/domain/entity/plzLookThisPakage/DreamCrop.kt
  core/domain/src/main/java/kr/co/domain/entity/plzLookThisPakage/DreamImage.kt
  core/domain/src/main/java/kr/co/domain/entity/plzLookThisPakage/이거 만드신 분 필독
  core/domain/src/main/java/kr/co/domain/repository/BulletinRepository.kt
  core/domain/src/main/java/kr/co/domain/usecase/GetCalendarDate.kt
  core/domain/src/main/java/kr/co/domain/usecase/GetFarmWork.kt
  core/impl/src/main/java/kr/co/impl/GetCalendarDateImpl.kt
  core/impl/src/main/java/kr/co/impl/GetFarmWorkImpl.kt
  feature/main/src/main/java/kr/co/main/calendar/CalendarViewModel.kt
  feature/main/src/main/java/kr/co/main/calendar/ScheduleCalendar.kt
  feature/main/src/main/java/kr/co/main/calendar/calendar/CalendarScreen.kt
  feature/main/src/main/java/kr/co/main/calendar/calendar/CalendarViewModel.kt
  feature/main/src/main/java/kr/co/main/calendar/calendar/FarmWorkCalendar.kt
  feature/main/src/main/java/kr/co/main/calendar/calendar/maincalendar/MainCalendar.kt
  feature/main/src/main/java/kr/co/main/calendar/calendar/maincalendar/MainCalendarDiaryRow.kt
  feature/main/src/main/java/kr/co/main/calendar/calendar/maincalendar/MainCalendarHolidayRow.kt
  feature/main/src/main/java/kr/co/main/calendar/calendar/maincalendar/MainCalendarScheduleRow.kt
  feature/main/src/main/java/kr/co/main/calendar/calendar/maincalendar/MainCalendarStateHolder.kt
  feature/main/src/main/java/kr/co/main/calendar/common/CalendarBaseCard.kt
  feature/main/src/main/java/kr/co/main/calendar/common/CalendarContentWrapper.kt
  feature/main/src/main/java/kr/co/main/calendar/common/CalendarUtil.kt
  feature/main/src/main/java/kr/co/main/calendar/common/DiaryContent.kt
  feature/main/src/main/java/kr/co/main/calendar/common/ScheduleContent.kt
  feature/main/src/main/java/kr/co/main/calendar/content/CalendarContentWrapper.kt
  feature/main/src/main/java/kr/co/main/calendar/model/CropColorModel.kt
  feature/main/src/main/java/kr/co/main/calendar/model/CropModel.kt
  feature/main/src/main/java/kr/co/main/calendar/model/DiaryModel.kt
  feature/main/src/main/java/kr/co/main/calendar/model/FarmWorkModel.kt
  feature/main/src/main/java/kr/co/main/calendar/model/ScheduleModel.kt
  feature/main/src/main/java/kr/co/main/calendar/providers/FakeDiaryEntityProvider.kt
  feature/main/src/main/java/kr/co/main/calendar/providers/FakeDiaryModelProvider.kt
  feature/main/src/main/java/kr/co/main/calendar/providers/FakeFarmWorkEntityListProvider.kt
  feature/main/src/main/java/kr/co/main/calendar/providers/FakeFarmWorkModelListProvider.kt
  feature/main/src/main/java/kr/co/main/calendar/providers/FakeMainCalendarDataProvider.kt
  feature/main/src/main/java/kr/co/main/calendar/providers/FakeScheduleModelProvider.kt
  feature/main/src/main/java/kr/co/main/community/CommunityViewModel.kt
  feature/main/src/main/res/values/calendar_strings.xml
  feature/main/src/main/res/values/strings.xml
Labels: 🤖 android, 🛠️ refactor, 🎨design

#105 Feature/accountbook
  feature/main/src/main/java/kr/co/main/accountbook/main/AccountBookBottomSheet.kt
  feature/main/src/main/java/kr/co/main/accountbook/main/AccountBookScreen.kt
  feature/main/src/main/java/kr/co/main/navigation/MainNavigation.kt
Labels: 🤖 android, ✨ feat, 🎨design

#106 영농일지 추가 화면 UI + 캘린더 화면 UI 추가 작업
  core/domain/src/main/java/kr/co/domain/entity/DiaryEntity.kt
  feature/main/src/main/java/kr/co/main/calendar/adddiary/AddDiaryScreen.kt
  feature/main/src/main/java/kr/co/main/calendar/adddiary/AddDiaryViewModel.kt
  feature/main/src/main/java/kr/co/main/calendar/adddiary/diaryinput/DiaryDateInput.kt
  feature/main/src/main/java/kr/co/main/calendar/adddiary/diaryinput/DiaryImageInput.kt
  feature/main/src/main/java/kr/co/main/calendar/adddiary/diaryinput/DiaryInputWrapper.kt
  feature/main/src/main/java/kr/co/main/calendar/adddiary/diaryinput/DiaryMemoInput.kt
  feature/main/src/main/java/kr/co/main/calendar/adddiary/diaryinput/DiaryOverviewInput.kt
  feature/main/src/main/java/kr/co/main/calendar/adddiary/diaryinput/DiaryWorkInput.kt
  feature/main/src/main/java/kr/co/main/calendar/calendar/CalendarScreen.kt
  feature/main/src/main/java/kr/co/main/calendar/calendar/maincalendar/MainCalendar.kt
  feature/main/src/main/java/kr/co/main/calendar/calendar/maincalendar/MainCalendarDateRow.kt
  feature/main/src/main/java/kr/co/main/calendar/calendar/maincalendar/MainCalendarDiaryRow.kt
  feature/main/src/main/java/kr/co/main/calendar/calendar/maincalendar/MainCalendarRowWrapper.kt
  feature/main/src/main/java/kr/co/main/calendar/calendar/maincalendar/MainCalendarStateHolder.kt
  feature/main/src/main/java/kr/co/main/calendar/common/CalendarBaseCard.kt
  feature/main/src/main/java/kr/co/main/calendar/common/CalendarContentWrapper.kt
  feature/main/src/main/java/kr/co/main/calendar/common/CalendarUtil.kt
  feature/main/src/main/java/kr/co/main/calendar/common/ScheduleContent.kt
  feature/main/src/main/java/kr/co/main/calendar/model/CropColorModel.kt
  feature/main/src/main/java/kr/co/main/calendar/model/DiaryModel.kt
  feature/main/src/main/java/kr/co/main/calendar/model/WeatherForecastModel.kt
  feature/main/src/main/java/kr/co/main/calendar/providers/FakeDiaryModelProvider.kt
  feature/main/src/main/java/kr/co/main/calendar/providers/FakeFarmWorkModelListProvider.kt
  feature/main/src/main/java/kr/co/main/calendar/providers/FakeMainCalendarDataProvider.kt
  feature/main/src/main/java/kr/co/main/calendar/providers/FakeWeatherForecastModelProvider.kt
  feature/main/src/main/java/kr/co/main/calendar/providers/FakeWorkDescriptionModelListProvider.kt
Labels: 🤖 android, 🛠️ refactor, 🎨design

#108 마이페이지 UI
  core/data/src/main/java/kr/co/data/mapper/GetAccountBookMapper.kt
  core/data/src/main/java/kr/co/data/mapper/HolidayMapper.kt
  core/data/src/main/java/kr/co/data/mapper/WeatherForecastMapper.kt
  core/data/src/main/java/kr/co/data/mapper/type/AuthTypeDataMapper.kt
  core/data/src/main/java/kr/co/data/model/data/AccountBookListData.kt
  core/data/src/main/java/kr/co/data/model/data/HolidayData.kt
  core/data/src/main/java/kr/co/data/model/data/WeatherForecastData.kt
  core/data/src/main/java/kr/co/data/model/data/auth/Auth.kt
  core/data/src/main/java/kr/co/data/model/type/AuthTypeData.kt
  core/data/src/main/java/kr/co/data/repository/AuthRepositoryImpl.kt
  core/data/src/main/java/kr/co/data/source/remote/AccountBookRemoteDataSource.kt
  core/data/src/main/java/kr/co/data/source/remote/AuthRemoteDataSource.kt
  core/data/src/main/java/kr/co/data/source/remote/HolidayRemoteDataSource.kt
  core/data/src/main/java/kr/co/data/source/remote/WeatherRemoteDataSource.kt
  core/domain/src/main/java/kr/co/domain/repository/AuthRepository.kt
  core/ui/src/main/java/kr/co/ui/icon/__DreamIcon.kt
  core/ui/src/main/java/kr/co/ui/icon/dreamicon/Defaultprofile.kt
  core/ui/src/main/java/kr/co/ui/icon/dreamicon/Outlineedit.kt
  core/ui/src/main/java/kr/co/ui/theme/Shape.kt
  core/ui/src/main/java/kr/co/ui/theme/Theme.kt
  core/ui/src/main/java/kr/co/ui/widget/DreamCenterTopAppBar.kt
  core/ui/src/main/java/kr/co/ui/widget/DreamTopAppBar.kt
  feature/main/src/main/java/kr/co/main/home/HomeRoute.kt
  feature/main/src/main/java/kr/co/main/home/HomeViewModel.kt
  feature/main/src/main/java/kr/co/main/home/chat/ChatRoute.kt
  feature/main/src/main/java/kr/co/main/home/chat/ChatViewModel.kt
  feature/main/src/main/java/kr/co/main/my/MyPageRoute.kt
  feature/main/src/main/java/kr/co/main/my/MyPageViewModel.kt
  feature/main/src/main/java/kr/co/main/navigation/MainNavigation.kt
  source/remote/build.gradle.kts
  source/remote/src/main/java/kr/co/remote/AccountBookRemoteDataSourceImpl.kt
  source/remote/src/main/java/kr/co/remote/AuthRemoteDataSourceImpl.kt
  source/remote/src/main/java/kr/co/remote/HolidayRemoteDataSourceImpl.kt
  source/remote/src/main/java/kr/co/remote/WeatherRemoteDataSourceImpl.kt
  source/remote/src/main/java/kr/co/remote/di/RemoteModule.kt
  source/remote/src/main/java/kr/co/remote/mapper/AccountBookListRemoteMapper.kt
  source/remote/src/main/java/kr/co/remote/mapper/HolidayRemoteMapper.kt
  source/remote/src/main/java/kr/co/remote/mapper/PostAuthMapper.kt
  source/remote/src/main/java/kr/co/remote/mapper/PostAuthTokenMapper.kt
  source/remote/src/main/java/kr/co/remote/mapper/WeatherRemoteMapper.kt
  source/remote/src/main/java/kr/co/remote/mapper/type/AuthTypeRemoteMapper.kt
  source/remote/src/main/java/kr/co/remote/model/request/account/GetAccountBookListRequest.kt
  source/remote/src/main/java/kr/co/remote/model/request/account/PostAccountBookRequest.kt
  source/remote/src/main/java/kr/co/remote/model/request/auth/PostAuthRequest.kt
  source/remote/src/main/java/kr/co/remote/model/request/auth/PostAuthTokenRequest.kt
  source/remote/src/main/java/kr/co/remote/model/response/auth/PostAuthResponse.kt
  source/remote/src/main/java/kr/co/remote/model/response/auth/PostAuthTokenResponse.kt
  source/remote/src/main/java/kr/co/remote/model/type/AuthTypeRemote.kt
Labels: 🤖 android, ✨ feat

#112 Feat: AccountBook Remote Repository, Mapper 수정
  source/remote/src/main/java/kr/co/remote/AccountBookRemoteDataSourceImpl.kt
  source/remote/src/main/java/kr/co/remote/mapper/AccountBookRemoteMapper.kt
  source/remote/src/main/java/kr/co/remote/model/request/account/UpdateAccountBookRequest.kt
  source/remote/src/main/java/kr/co/remote/model/response/GetAccountBookResponse.kt
Labels: 🤖 android

#117 Feature/mypage
  app/src/main/java/kr/co/wdtt/nbdream/MainViewModel.kt
  app/src/main/java/kr/co/wdtt/nbdream/ui/DreamApp.kt
  core/data/src/main/java/kr/co/data/mapper/WeatherForecastMapper.kt
  core/data/src/main/java/kr/co/data/model/data/WeatherForecastData.kt
  core/domain/src/main/java/kr/co/domain/entity/WeatherForecastEntity.kt
  core/domain/src/main/java/kr/co/domain/usecase/weather/GetDayWeatherForecastUseCase.kt
  core/remote/src/main/java/kr/co/remote/model/response/GetWeatherForecastResponse.kt
  core/ui/src/main/java/kr/co/ui/ext/ModifierExt.kt
  core/ui/src/main/java/kr/co/ui/ext/VectorExt.kt
  core/ui/src/main/java/kr/co/ui/icon/dreamicon/CheckCircle.kt
  core/ui/src/main/java/kr/co/ui/icon/dreamicon/OutLineCircle.kt
  core/ui/src/main/java/kr/co/ui/widget/DreamButton.kt
  core/ui/src/main/java/kr/co/ui/widget/DreamCheckIcon.kt
  core/ui/src/main/java/kr/co/ui/widget/DreamSwith.kt
  core/ui/src/main/res/drawable/img_splash_empty.png
  feature/main/build.gradle.kts
  feature/main/src/main/java/kr/co/main/calendar/model/WeatherForecastModel.kt
  feature/main/src/main/java/kr/co/main/calendar/providers/FakeDiaryModelProvider.kt
  feature/main/src/main/java/kr/co/main/calendar/providers/FakeMainCalendarDataProvider.kt
  feature/main/src/main/java/kr/co/main/calendar/providers/FakeWeatherForecastModelProvider.kt
  feature/main/src/main/java/kr/co/main/home/HomeRoute.kt
  feature/main/src/main/java/kr/co/main/home/HomeViewModel.kt
  feature/main/src/main/java/kr/co/main/model/home/WeatherMetrics.kt
  feature/main/src/main/java/kr/co/main/model/my/MyPageDeleteReason.kt
  feature/main/src/main/java/kr/co/main/model/my/MyPageNotificationSetting.kt
  feature/main/src/main/java/kr/co/main/model/my/MyPageSetting.kt
  feature/main/src/main/java/kr/co/main/my/MyPageRoute.kt
  feature/main/src/main/java/kr/co/main/my/profile/MyPageProfileEditRoute.kt
  feature/main/src/main/java/kr/co/main/my/profile/MyPageProfileEditViewModel.kt
  feature/main/src/main/java/kr/co/main/my/setting/MyPageSettingRoute.kt
  feature/main/src/main/java/kr/co/main/my/setting/delete/MyPageSettingDeleteAccountRoute.kt
  feature/main/src/main/java/kr/co/main/my/setting/delete/MyPageSettingDeleteAccountViewModel.kt
  feature/main/src/main/java/kr/co/main/my/setting/notification/MyPageSettingNotificationRoute.kt
  feature/main/src/main/java/kr/co/main/my/setting/notification/MyPageSettingNotificationViewModel.kt
  feature/main/src/main/java/kr/co/main/navigation/MainNavigation.kt
  feature/main/src/main/res/values/my_page_strings.xml
  feature/main/src/main/res/values/strings.xml
Labels: 🤖 android, ✨ feat, 🎨design

#113 Feature/post bulletin
  core/data/src/main/java/kr/co/data/di/DataModule.kt
  core/data/src/main/java/kr/co/data/model/data/community/PostBulletinResult.kt
  core/data/src/main/java/kr/co/data/repository/CommunityRepositoryImpl.kt
  core/data/src/main/java/kr/co/data/source/remote/CommunityRemoteDataSource.kt
  core/domain/src/main/java/kr/co/domain/repository/CommunityRepository.kt
  core/remote/src/main/java/kr/co/remote/CommunityRemoteDataSourceImpl.kt
  core/remote/src/main/java/kr/co/remote/ServerImageRemoteDataSourceImpl.kt
  core/remote/src/main/java/kr/co/remote/di/RemoteModule.kt
  core/remote/src/main/java/kr/co/remote/mapper/ServerImageRemoteMapper.kt
  core/remote/src/main/java/kr/co/remote/model/request/community/PostBulletinRequest.kt
  core/remote/src/main/java/kr/co/remote/model/response/PostServerImageResponse.kt
  core/remote/src/main/java/kr/co/remote/model/response/community/PostBulletinResponse.kt
  feature/main/src/main/java/kr/co/main/community/BulletinWritingScreen.kt
  feature/main/src/main/java/kr/co/main/community/CommunityScreen.kt
  feature/main/src/main/java/kr/co/main/community/CommunityViewModel.kt
  feature/main/src/main/java/kr/co/main/community/temp/TempCommunityApp.kt
  feature/main/src/main/java/kr/co/main/community/temp/navigation/CommunityNavigation.kt
  feature/main/src/main/java/kr/co/main/community/temp/util_yj.kt
Labels: 🤖 android, 🖥 server

#115 캘린더 화면 '메인 캘린더' 일정 y축 배열 문제 해결
  core/common/src/main/java/kr/co/common/ContextManager.kt
  core/common/src/main/java/kr/co/common/mapper/Mapper.kt
  core/common/src/main/java/kr/co/common/util/Flows.kt
  core/domain/src/main/java/kr/co/domain/entity/HolidayEntity.kt
  core/ui/src/main/java/kr/co/ui/widget/DreamCenterTopAppBar.kt
  core/ui/src/main/java/kr/co/ui/widget/DreamToggleSwitch.kt
  feature/main/src/main/java/kr/co/main/calendar/adddiary/AddDiaryScreen.kt
  feature/main/src/main/java/kr/co/main/calendar/adddiary/diaryinput/DiaryImageInput.kt
  feature/main/src/main/java/kr/co/main/calendar/adddiary/diaryinput/DiaryInputWrapper.kt
  feature/main/src/main/java/kr/co/main/calendar/adddiary/diaryinput/DiaryWorkInput.kt
  feature/main/src/main/java/kr/co/main/calendar/calendar/CalendarScreen.kt
  feature/main/src/main/java/kr/co/main/calendar/calendar/FarmWorkCalendar.kt
  feature/main/src/main/java/kr/co/main/calendar/calendar/maincalendar/MainCalendar.kt
  feature/main/src/main/java/kr/co/main/calendar/calendar/maincalendar/MainCalendarDateRow.kt
  feature/main/src/main/java/kr/co/main/calendar/calendar/maincalendar/MainCalendarDiaryRow.kt
  feature/main/src/main/java/kr/co/main/calendar/calendar/maincalendar/MainCalendarHolidayRow.kt
  feature/main/src/main/java/kr/co/main/calendar/calendar/maincalendar/MainCalendarRowWrapper.kt
  feature/main/src/main/java/kr/co/main/calendar/calendar/maincalendar/MainCalendarScheduleRow.kt
  feature/main/src/main/java/kr/co/main/calendar/calendar/maincalendar/MainCalendarStateHolder.kt
  feature/main/src/main/java/kr/co/main/calendar/common/CalendarBaseFab.kt
  feature/main/src/main/java/kr/co/main/calendar/common/CalendarBaseTopBar.kt
  feature/main/src/main/java/kr/co/main/calendar/common/CalendarDatePicker.kt
  feature/main/src/main/java/kr/co/main/calendar/common/CalendarDesignToken.kt
  feature/main/src/main/java/kr/co/main/calendar/common/CalendarTextFields.kt
  feature/main/src/main/java/kr/co/main/calendar/common/CalendarUtil.kt
  feature/main/src/main/java/kr/co/main/calendar/common/content/CalendarBaseCard.kt
  feature/main/src/main/java/kr/co/main/calendar/common/content/CalendarContentWrapper.kt
  feature/main/src/main/java/kr/co/main/calendar/common/content/DiaryContent.kt
  feature/main/src/main/java/kr/co/main/calendar/common/content/ScheduleContent.kt
  feature/main/src/main/java/kr/co/main/calendar/providers/FakeDiaryModelProvider.kt
  feature/main/src/main/res/values/calendar_strings.xml
Labels: 🤖 android, 🎨design

#121 토큰 에러 해결
  app/src/main/java/kr/co/wdtt/nbdream/MainViewModel.kt
  build-src/convention/src/main/kotlin/kr/co/wdtt/convention/ProjectExtensions.kt
  core/data/src/main/java/kr/co/data/model/data/user/UserData.kt
  core/data/src/main/java/kr/co/data/repository/UserRepositoryImpl.kt
  core/data/src/main/java/kr/co/data/source/local/UserLocalDataSource.kt
  core/local/build.gradle.kts
  core/local/src/main/java/kr/co/local/UserLocalDataSourceImpl.kt
  core/local/src/main/java/kr/co/local/di/LocalModule.kt
  core/local/src/main/java/kr/co/local/di/LocalServiceModule.kt
  core/local/src/main/java/kr/co/local/mapper/UserLocalMapper.kt
  core/local/src/main/java/kr/co/local/model/UserEntity.kt
  core/local/src/main/java/kr/co/local/room/NBDreamDataBase.kt
  core/local/src/main/java/kr/co/local/room/converter/StringListTypeConverter.kt
  core/local/src/main/java/kr/co/local/room/dao/UserDao.kt
  core/remote/src/main/java/kr/co/remote/AuthRemoteDataSourceImpl.kt
  core/remote/src/main/java/kr/co/remote/di/NetworkModule.kt
  core/remote/src/main/java/kr/co/remote/model/response/auth/PostAuthRefreshResponse.kt
  gradle/libs.versions.toml
Labels: 🐞 bug, 🤖 android

#124 Feature/get bulletins
  core/data/src/main/java/kr/co/data/model/data/community/GetBulletinsResult.kt
  core/data/src/main/java/kr/co/data/repository/CommunityRepositoryImpl.kt
  core/data/src/main/java/kr/co/data/source/remote/CommunityRemoteDataSource.kt
  core/domain/src/main/java/kr/co/domain/entity/BulletinEntity.kt
  core/domain/src/main/java/kr/co/domain/entity/CommentEntity.kt
  core/domain/src/main/java/kr/co/domain/entity/CropEntity.kt
  core/domain/src/main/java/kr/co/domain/repository/CommunityRepository.kt
  core/remote/src/main/java/kr/co/remote/CommunityRemoteDataSourceImpl.kt
  core/remote/src/main/java/kr/co/remote/model/response/community/GetBulletinsResponse.kt
  feature/main/src/main/java/kr/co/main/community/BulletinDetailScreen.kt
  feature/main/src/main/java/kr/co/main/community/BulletinWritingScreen.kt
  feature/main/src/main/java/kr/co/main/community/CommunityScreen.kt
  feature/main/src/main/java/kr/co/main/community/CommunityViewModel.kt
  feature/main/src/main/java/kr/co/main/community/temp/TempCommunityApp.kt
  feature/main/src/main/java/kr/co/main/community/temp/navigation/CommunityNavigation.kt
  feature/main/src/main/java/kr/co/main/navigation/MainNavigation.kt
Labels: 🤖 android, 🖥 server

#127 네이버 로그인 기능 구현
  app/libs/oauth-5.9.1.aar
  core/oauth/build.gradle.kts
  core/oauth/src/main/kotlin/kr/co/oauth/NaverLoginProviderImpl.kt
  feature/onboard/src/main/java/kr/co/onboard/OnBoardViewModel.kt
  feature/onboard/src/main/java/kr/co/onboard/address/InputAddressScreen.kt
  feature/onboard/src/main/java/kr/co/onboard/crop/SelectCropScreen.kt
  settings.gradle.kts
Labels: 🤖 android, ✨ feat

#120 Feature/accountbook
  core/data/src/main/java/kr/co/data/mapper/GetAccountBookListMapper.kt
  core/data/src/main/java/kr/co/data/mapper/GetAccountBookMapper.kt
  core/data/src/main/java/kr/co/data/model/data/AccountBookData.kt
  core/data/src/main/java/kr/co/data/model/data/AccountBookListData.kt
  core/data/src/main/java/kr/co/data/repository/AccountBookRepositoryImpl.kt
  core/data/src/main/java/kr/co/data/source/remote/AccountBookRemoteDataSource.kt
  core/domain/src/main/java/kr/co/domain/entity/AccountBookEntity.kt
  core/domain/src/main/java/kr/co/domain/repository/AccountBookRepository.kt
  core/remote/src/main/java/kr/co/remote/AccountBookRemoteDataSourceImpl.kt
  core/remote/src/main/java/kr/co/remote/mapper/AccountBookListRemoteMapper.kt
  core/remote/src/main/java/kr/co/remote/mapper/AccountBookRemoteMapper.kt
  core/remote/src/main/java/kr/co/remote/model/request/account/GetAccountBookListRequest.kt
  core/remote/src/main/java/kr/co/remote/model/request/account/PostAccountBookRequest.kt
  core/remote/src/main/java/kr/co/remote/model/request/account/UpdateAccountBookRequest.kt
  core/remote/src/main/java/kr/co/remote/model/response/GetAccountBookListResponse.kt
  core/remote/src/main/java/kr/co/remote/model/response/GetAccountBookResponse.kt
  feature/main/src/main/java/kr/co/main/accountbook/content/AccountBookContent.kt
  feature/main/src/main/java/kr/co/main/accountbook/content/AccountBookContentViewModel.kt
  feature/main/src/main/java/kr/co/main/accountbook/main/AccountBookScreen.kt
  feature/main/src/main/java/kr/co/main/accountbook/main/AccountBookViewModel.kt
  feature/main/src/main/java/kr/co/main/accountbook/register/AccountBookRegister.kt
Labels: 🤖 android, 🛠️ refactor, ✨ feat

#131 Refactor/ Image 업로드 방식 변경, 프로필 수정 페이지
  app/src/main/java/kr/co/wdtt/nbdream/MainActivity.kt
  core/common/src/main/java/kr/co/common/util/BaseUtil.kt
  core/common/src/main/java/kr/co/common/util/FileUtil.kt
  core/common/src/main/java/kr/co/common/util/ValidatePatterns.kt
  core/data/src/main/java/kr/co/data/repository/ServerImageRepositoryImpl.kt
  core/data/src/main/java/kr/co/data/repository/UserRepositoryImpl.kt
  core/data/src/main/java/kr/co/data/source/remote/ServerImageRemoteDataSource.kt
  core/domain/src/main/java/kr/co/domain/entity/UserEntity.kt
  core/domain/src/main/java/kr/co/domain/repository/ServerImageRepository.kt
  core/domain/src/main/java/kr/co/domain/usecase/image/DeleteImageUseCase.kt
  core/domain/src/main/java/kr/co/domain/usecase/image/UploadImageUseCase.kt
  core/domain/src/main/java/kr/co/domain/usecase/user/FetchUserUseCase.kt
  core/domain/src/main/java/kr/co/domain/usecase/user/RegisterUserUseCase.kt
  core/domain/src/main/java/kr/co/domain/usecase/user/SaveUserLocalUseCase.kt
  core/domain/src/main/java/kr/co/domain/usecase/validate/ValidateNameUseCase.kt
  core/remote/src/main/java/kr/co/remote/CommunityRemoteDataSourceImpl.kt
  core/remote/src/main/java/kr/co/remote/ServerImageRemoteDataSourceImpl.kt
  core/remote/src/main/java/kr/co/remote/UserRemoteDataSourceImpl.kt
  core/remote/src/main/java/kr/co/remote/mapper/PutUserRemoteMapper.kt
  core/remote/src/main/java/kr/co/remote/model/request/user/PutUserRequest.kt
  core/ui/src/main/java/kr/co/ui/icon/dreamicon/Addpicture.kt
  feature/main/src/main/java/kr/co/main/my/MyPageViewModel.kt
  feature/main/src/main/java/kr/co/main/my/profile/MyPageProfileEditRoute.kt
  feature/main/src/main/java/kr/co/main/my/profile/MyPageProfileEditViewModel.kt
  feature/main/src/main/java/kr/co/main/navigation/MainNavigation.kt
Labels: 🤖 android, 🛠️ refactor

#130 Feature/accountbook
  core/data/src/main/java/kr/co/data/mapper/GetAccountBookListMapper.kt
  core/data/src/main/java/kr/co/data/model/data/AccountBookData.kt
  core/data/src/main/java/kr/co/data/model/data/AccountBookListData.kt
  core/data/src/main/java/kr/co/data/repository/AccountBookRepositoryImpl.kt
  core/data/src/main/java/kr/co/data/source/remote/AccountBookRemoteDataSource.kt
  core/domain/src/main/java/kr/co/domain/entity/AccountBookEntity.kt
  core/domain/src/main/java/kr/co/domain/entity/AccountBookTotalEntity.kt
  core/domain/src/main/java/kr/co/domain/repository/AccountBookRepository.kt
  core/remote/src/main/java/kr/co/remote/AccountBookRemoteDataSourceImpl.kt
  core/remote/src/main/java/kr/co/remote/mapper/AccountBookListRemoteMapper.kt
  core/remote/src/main/java/kr/co/remote/model/request/account/GetAccountBookListRequest.kt
  core/remote/src/main/java/kr/co/remote/model/request/account/PostAccountBookRequest.kt
  core/remote/src/main/java/kr/co/remote/model/request/account/UpdateAccountBookRequest.kt
  core/remote/src/main/java/kr/co/remote/model/response/GetAccountBookListResponse.kt
  core/remote/src/main/java/kr/co/remote/model/response/GetAccountBookResponse.kt
  feature/main/src/main/java/kr/co/main/accountbook/content/AccountBookContent.kt
  feature/main/src/main/java/kr/co/main/accountbook/content/AccountBookContentViewModel.kt
  feature/main/src/main/java/kr/co/main/accountbook/main/AccountBookBottomSheet.kt
  feature/main/src/main/java/kr/co/main/accountbook/main/AccountBookScreen.kt
  feature/main/src/main/java/kr/co/main/accountbook/main/AccountBookViewModel.kt
  feature/main/src/main/java/kr/co/main/accountbook/model/CategoryMapper.kt
  feature/main/src/main/java/kr/co/main/accountbook/register/AccountBookRegister.kt
  feature/main/src/main/java/kr/co/main/accountbook/register/AccountBookRegisterViewModel.kt
  feature/main/src/main/java/kr/co/main/navigation/MainNavigation.kt
Labels: 🤖 android, 🛠️ refactor, ✨ feat

#140 Feature/accountbook
  core/data/src/main/java/kr/co/data/mapper/GetAccountBookListMapper.kt
  core/domain/src/main/java/kr/co/domain/entity/AccountBookEntity.kt
  core/ui/src/main/java/kr/co/ui/widget/DreamShimmerEffect.kt
  feature/main/src/main/java/kr/co/main/accountbook/content/AccountBookContent.kt
  feature/main/src/main/java/kr/co/main/accountbook/content/AccountBookContentViewModel.kt
  feature/main/src/main/java/kr/co/main/accountbook/main/AccountBookBottomSheet.kt
  feature/main/src/main/java/kr/co/main/accountbook/main/AccountBookGraph.kt
  feature/main/src/main/java/kr/co/main/accountbook/main/AccountBookRoute.kt
  feature/main/src/main/java/kr/co/main/accountbook/main/AccountBookViewModel.kt
  feature/main/src/main/java/kr/co/main/accountbook/model/AccountBookModel.kt
  feature/main/src/main/java/kr/co/main/accountbook/model/CategoryMapper.kt
  feature/main/src/main/java/kr/co/main/accountbook/register/AccountBookCreateRoute.kt
  feature/main/src/main/java/kr/co/main/accountbook/register/AccountBookCreateViewModel.kt
  feature/main/src/main/java/kr/co/main/accountbook/register/AccountBookRegisterRoute.kt
  feature/main/src/main/java/kr/co/main/accountbook/register/AccountBookRegisterViewModel.kt
  feature/main/src/main/java/kr/co/main/navigation/MainNavigation.kt
Labels: 🤖 android, ✨ feat, 🎨design

#145 Feature/accountbook
  core/data/src/main/java/kr/co/data/mapper/GetAccountBookListMapper.kt
  core/data/src/main/java/kr/co/data/model/data/AccountBookListData.kt
  core/domain/src/main/java/kr/co/domain/entity/AccountBookEntity.kt
  core/domain/src/main/java/kr/co/domain/entity/AccountBookTotalEntity.kt
  core/remote/src/main/java/kr/co/remote/mapper/AccountBookListRemoteMapper.kt
  core/remote/src/main/java/kr/co/remote/model/response/GetAccountBookListResponse.kt
  feature/main/src/main/java/kr/co/main/accountbook/content/AccountBookContent.kt
  feature/main/src/main/java/kr/co/main/accountbook/content/AccountBookContentViewModel.kt
  feature/main/src/main/java/kr/co/main/accountbook/create/AccountBookCreateRoute.kt
  feature/main/src/main/java/kr/co/main/accountbook/create/AccountBookCreateViewModel.kt
  feature/main/src/main/java/kr/co/main/accountbook/main/AccountBookBottomSheet.kt
  feature/main/src/main/java/kr/co/main/accountbook/main/AccountBookGraph.kt
  feature/main/src/main/java/kr/co/main/accountbook/main/AccountBookRoute.kt
  feature/main/src/main/java/kr/co/main/accountbook/main/AccountBookViewModel.kt
  feature/main/src/main/java/kr/co/main/accountbook/model/AccountBookModel.kt
  feature/main/src/main/java/kr/co/main/accountbook/model/DateRangeOption.kt
  feature/main/src/main/java/kr/co/main/accountbook/model/EntryType.kt
  feature/main/src/main/java/kr/co/main/accountbook/model/FormatDateTime.kt
  feature/main/src/main/java/kr/co/main/navigation/MainNavigation.kt
Labels: 🤖 android, ✨ feat, 🎨design

#144 일정 추가 화면 ViewModel 작업
  core/data/src/main/java/kr/co/data/repository/ScheduleRepositoryImpl.kt
  core/data/src/main/java/kr/co/data/source/remote/ScheduleRemoteDataSource.kt
  core/domain/src/main/java/kr/co/domain/repository/ScheduleRepository.kt
  core/domain/src/main/java/kr/co/domain/usecase/calendar/CreateScheduleUseCase.kt
  core/domain/src/main/java/kr/co/domain/usecase/calendar/GetScheduleDetailUseCase.kt
  core/domain/src/main/java/kr/co/domain/usecase/calendar/UpdateScheduleUseCase.kt
  core/remote/src/main/java/kr/co/remote/ScheduleRemoteDataSourceImpl.kt
  core/remote/src/main/java/kr/co/remote/di/RemoteModule.kt
  core/ui/src/main/java/kr/co/ui/widget/DreamCenterTopAppBar.kt
  feature/main/src/main/java/kr/co/main/MainRoute.kt
  feature/main/src/main/java/kr/co/main/calendar/screen/addDiaryScreen/AddDiaryScreen.kt
  feature/main/src/main/java/kr/co/main/calendar/screen/addDiaryScreen/AddDiaryViewModel.kt
  feature/main/src/main/java/kr/co/main/calendar/screen/addDiaryScreen/diary_input/DiaryMemoInput.kt
  feature/main/src/main/java/kr/co/main/calendar/screen/addDiaryScreen/diary_input/DiaryWorkInput.kt
  feature/main/src/main/java/kr/co/main/calendar/screen/addScheduleScreen/AddScheduleScreen.kt
  feature/main/src/main/java/kr/co/main/calendar/screen/addScheduleScreen/AddScheduleViewModel.kt
  feature/main/src/main/java/kr/co/main/calendar/screen/addScheduleScreen/schedule_input/ScheduleGeneralInput.kt
  feature/main/src/main/java/kr/co/main/calendar/screen/addScheduleScreen/schedule_input/ScheduleInputWrapper.kt
  feature/main/src/main/java/kr/co/main/calendar/screen/addScheduleScreen/schedule_input/ScheduleMemoInput.kt
  feature/main/src/main/java/kr/co/main/calendar/screen/calendarScreen/CalendarScreen.kt
  feature/main/src/main/java/kr/co/main/calendar/screen/calendarScreen/CalendarScreenViewModel.kt
  feature/main/src/main/java/kr/co/main/calendar/screen/calendarScreen/diaryTab/DiaryTab.kt
  feature/main/src/main/java/kr/co/main/calendar/screen/calendarScreen/scheduleTab/ScheduleTab.kt
  feature/main/src/main/java/kr/co/main/calendar/screen/searchDiaryScreen/SearchDiaryScreen.kt
  feature/main/src/main/java/kr/co/main/calendar/screen/searchDiaryScreen/SearchDiaryScreenViewModel.kt
  feature/main/src/main/java/kr/co/main/model/calendar/type/ScreenModeType.kt
  feature/main/src/main/java/kr/co/main/model/calendar/type/WorkDescriptionModelType.kt
  feature/main/src/main/java/kr/co/main/navigation/CalendarNavGraph.kt
  feature/main/src/main/java/kr/co/main/navigation/MainNavigation.kt
  feature/main/src/main/res/values/calendar_model_type_strings.xml
  feature/main/src/main/res/values/calendar_strings.xml
Labels: 🤖 android

#142 Feature/community refactor
  core/data/src/main/java/kr/co/data/model/data/community/BulletinResData.kt
  feature/main/src/main/java/kr/co/main/community/CommunityScreen.kt
  feature/main/src/main/java/kr/co/main/community/CommunityViewModel.kt
  feature/main/src/main/java/kr/co/main/community/detail/BulletinDetailScreen.kt
  feature/main/src/main/java/kr/co/main/community/detail/BulletinDetailViewModel.kt
  feature/main/src/main/java/kr/co/main/community/writing/BulletinWritingScreen.kt
  feature/main/src/main/java/kr/co/main/community/writing/BulletinWritingViewModel.kt
  feature/main/src/main/java/kr/co/main/navigation/MainNavigation.kt
Labels: 🤖 android, 🛠️ refactor

#147 Feature/ai
  core/data/src/main/java/kr/co/data/mapper/UserMapper.kt
  core/data/src/main/java/kr/co/data/model/data/user/UserData.kt
  core/data/src/main/java/kr/co/data/repository/UserRepositoryImpl.kt
  core/data/src/main/java/kr/co/data/source/remote/UserRemoteDataSource.kt
  core/domain/src/main/java/kr/co/domain/entity/UserEntity.kt
  core/domain/src/main/java/kr/co/domain/repository/UserRepository.kt
  core/domain/src/main/java/kr/co/domain/usecase/DeleteAccountUseCase.kt
  core/domain/src/main/java/kr/co/domain/usecase/PostDeleteReasonUseCase.kt
  core/domain/src/main/java/kr/co/domain/usecase/auth/LogoutUseCase.kt
  core/local/src/main/java/kr/co/local/mapper/UserLocalMapper.kt
  core/local/src/main/java/kr/co/local/model/UserEntity.kt
  core/remote/src/main/java/kr/co/remote/AiRemoteDataSourceImpl.kt
  core/remote/src/main/java/kr/co/remote/UserRemoteDataSourceImpl.kt
  core/remote/src/main/java/kr/co/remote/di/NetworkModule.kt
  core/remote/src/main/java/kr/co/remote/mapper/GetUserRemoteMapper.kt
  core/remote/src/main/java/kr/co/remote/mapper/PutUserRemoteMapper.kt
  core/remote/src/main/java/kr/co/remote/model/request/user/PutUserRequest.kt
  core/remote/src/main/java/kr/co/remote/model/request/user/WithdrawalRequest.kt
  core/remote/src/main/java/kr/co/remote/model/response/ai/PostAiChatResponse.kt
  core/remote/src/main/java/kr/co/remote/model/response/user/GetUserResponse.kt
  core/ui/src/main/java/kr/co/ui/widget/DreamCenterTopAppBar.kt
  core/ui/src/main/java/kr/co/ui/widget/DreamCropSheet.kt
  core/ui/src/main/java/kr/co/ui/widget/DreamDialog.kt
  feature/main/src/main/java/kr/co/main/MainRoute.kt
  feature/main/src/main/java/kr/co/main/home/HomeRoute.kt
  feature/main/src/main/java/kr/co/main/home/chat/ChatRoute.kt
  feature/main/src/main/java/kr/co/main/my/MyPageRoute.kt
  feature/main/src/main/java/kr/co/main/my/profile/MyPageProfileEditRoute.kt
  feature/main/src/main/java/kr/co/main/my/setting/MyPageSettingViewModel.kt
  feature/main/src/main/java/kr/co/main/my/setting/delete/MyPageSettingDeleteAccountRoute.kt
  feature/main/src/main/java/kr/co/main/my/setting/delete/MyPageSettingDeleteAccountViewModel.kt
  feature/main/src/main/java/kr/co/main/navigation/MainNavigation.kt
Labels: 🤖 android, ✨ feat

#148 영농일지 추가 화면 ViewModel 작업
  core/common/src/main/java/kr/co/common/util/FileUtil.kt
  core/data/src/main/java/kr/co/data/mapper/DiaryMapper.kt
  core/data/src/main/java/kr/co/data/model/data/calendar/DiaryData.kt
  core/data/src/main/java/kr/co/data/repository/DiaryRepositoryImpl.kt
  core/data/src/main/java/kr/co/data/repository/HolidayRepositoryImpl.kt
  core/data/src/main/java/kr/co/data/source/remote/DiaryRemoteDataSource.kt
  core/data/src/main/java/kr/co/data/source/remote/HolidayRemoteDataSource.kt
  core/domain/src/main/java/kr/co/domain/entity/DiaryEntity.kt
  core/domain/src/main/java/kr/co/domain/repository/DiaryRepository.kt
  core/domain/src/main/java/kr/co/domain/repository/HolidayRepository.kt
  core/domain/src/main/java/kr/co/domain/usecase/calendar/CreateDiaryUseCase.kt
  core/domain/src/main/java/kr/co/domain/usecase/calendar/GetDiaryDetailUseCase.kt
  core/domain/src/main/java/kr/co/domain/usecase/calendar/GetHolidaysUseCase.kt
  core/domain/src/main/java/kr/co/domain/usecase/image/DeleteImageUseCase.kt
  core/domain/src/main/java/kr/co/domain/usecase/image/UploadImageUseCase.kt
  core/remote/src/main/java/kr/co/remote/DiaryRemoteDataSourceImpl.kt
  core/remote/src/main/java/kr/co/remote/HolidayRemoteDataSourceImpl.kt
  core/remote/src/main/java/kr/co/remote/mapper/calendar/DiaryRemoteMapper.kt
  core/remote/src/main/java/kr/co/remote/model/response/calendar/DiaryListResponse.kt
  feature/main/src/main/java/kr/co/main/calendar/screen/addDiaryScreen/AddDiaryScreen.kt
  feature/main/src/main/java/kr/co/main/calendar/screen/addDiaryScreen/AddDiaryViewModel.kt
  feature/main/src/main/java/kr/co/main/calendar/screen/addDiaryScreen/diary_input/DiaryInputWrapper.kt
  feature/main/src/main/java/kr/co/main/calendar/screen/addDiaryScreen/diary_input/DiaryWorkInput.kt
  feature/main/src/main/java/kr/co/main/calendar/screen/addScheduleScreen/AddScheduleViewModel.kt
  feature/main/src/main/java/kr/co/main/calendar/screen/calendarScreen/scheduleTab/ScheduleTabViewModel.kt
  feature/main/src/main/java/kr/co/main/mapper/calendar/WorkDescriptionModelMapper.kt
  feature/main/src/main/java/kr/co/main/model/calendar/DiaryModel.kt
  feature/main/src/main/java/kr/co/main/providers/FakeDiaryModelProvider.kt
  feature/main/src/main/java/kr/co/main/providers/FakeWorkDescriptionModelListProvider.kt
Labels: 🤖 android, ✨ feat

#149 법정동 코드 받아오기
  app/src/main/java/kr/co/wdtt/nbdream/ui/DreamApp.kt
  core/ui/src/main/java/kr/co/ui/widget/CustomButton.kt
  core/ui/src/main/java/kr/co/ui/widget/DreamLocationSearchScreen.kt
  core/ui/src/main/java/kr/co/ui/widget/DreamSocialButton.kt
  feature/main/src/main/java/kr/co/main/my/profile/MyPageProfileEditRoute.kt
  feature/onboard/src/main/java/kr/co/onboard/address/InputAddressScreen.kt
  feature/onboard/src/main/java/kr/co/onboard/crop/SelectCropScreen.kt
  feature/onboard/src/main/java/kr/co/onboard/login/Login.kt
  feature/onboard/src/main/java/kr/co/onboard/navigation/OnBoardNavigation.kt
  feature/onboard/src/main/res/values/strings.xml
Labels: 🤖 android, ✨ feat

#150 영농일지 검색 화면 ViewModel/일정 api 연결 swagger에 맞게 수정 + a
  core/data/src/main/java/kr/co/data/mapper/ScheduleMapper.kt
  core/data/src/main/java/kr/co/data/model/data/calendar/ScheduleData.kt
  core/data/src/main/java/kr/co/data/repository/DiaryRepositoryImpl.kt
  core/data/src/main/java/kr/co/data/repository/ScheduleRepositoryImpl.kt
  core/data/src/main/java/kr/co/data/source/remote/DiaryRemoteDataSource.kt
  core/data/src/main/java/kr/co/data/source/remote/ScheduleRemoteDataSource.kt
  core/domain/src/main/java/kr/co/domain/entity/ScheduleEntity.kt
  core/domain/src/main/java/kr/co/domain/repository/DiaryRepository.kt
  core/domain/src/main/java/kr/co/domain/repository/ScheduleRepository.kt
  core/domain/src/main/java/kr/co/domain/usecase/calendar/CreateDiaryUseCase.kt
  core/domain/src/main/java/kr/co/domain/usecase/calendar/CreateScheduleUseCase.kt
  core/domain/src/main/java/kr/co/domain/usecase/calendar/DeleteScheduleUseCase.kt
  core/domain/src/main/java/kr/co/domain/usecase/calendar/GetFarmWorksUseCase.kt
  core/domain/src/main/java/kr/co/domain/usecase/calendar/GetScheduleDetailUseCase.kt
  core/domain/src/main/java/kr/co/domain/usecase/calendar/GetSchedulesUseCase.kt
  core/domain/src/main/java/kr/co/domain/usecase/calendar/UpdateDiaryUseCase.kt
  core/domain/src/main/java/kr/co/domain/usecase/calendar/UpdateScheduleUseCase.kt
  core/remote/src/main/java/kr/co/remote/DiaryRemoteDataSourceImpl.kt
  core/remote/src/main/java/kr/co/remote/HolidayRemoteDataSourceImpl.kt
  core/remote/src/main/java/kr/co/remote/ScheduleRemoteDataSourceImpl.kt
  core/remote/src/main/java/kr/co/remote/mapper/calendar/ScheduleRemoteMapper.kt
  core/remote/src/main/java/kr/co/remote/model/request/calendar/PostDiaryRequest.kt
  core/remote/src/main/java/kr/co/remote/model/request/calendar/PostScheduleRequest.kt
  core/remote/src/main/java/kr/co/remote/model/request/calendar/UpdateDiaryRequest.kt
  core/remote/src/main/java/kr/co/remote/model/request/calendar/UpdateScheduleRequest.kt
  core/remote/src/main/java/kr/co/remote/model/response/calendar/ScheduleListResponse.kt
  feature/main/src/main/java/kr/co/main/calendar/screen/addDiaryScreen/AddDiaryViewModel.kt
  feature/main/src/main/java/kr/co/main/calendar/screen/addScheduleScreen/AddScheduleViewModel.kt
  feature/main/src/main/java/kr/co/main/calendar/screen/calendarScreen/CalendarScreen.kt
  feature/main/src/main/java/kr/co/main/calendar/screen/calendarScreen/CalendarScreenViewModel.kt
  feature/main/src/main/java/kr/co/main/calendar/screen/calendarScreen/scheduleTab/ScheduleTabViewModel.kt
  feature/main/src/main/java/kr/co/main/calendar/screen/searchDiaryScreen/SearchDiaryScreenViewModel.kt
  feature/main/src/main/java/kr/co/main/model/calendar/ScheduleModel.kt
  feature/main/src/main/java/kr/co/main/model/calendar/type/CalendarTabType.kt
  feature/main/src/main/java/kr/co/main/navigation/CalendarNavGraph.kt
  feature/main/src/main/java/kr/co/main/navigation/MainNavigation.kt
  feature/onboard/src/main/java/kr/co/onboard/navigation/OnBoardNavigation.kt
Labels: 🤖 android, ✨ feat

#153 Feature/home
  app/src/main/AndroidManifest.xml
  app/src/main/res/xml/file_paths.xml
  core/common/src/main/java/kr/co/common/util/FileUtil.kt
  core/data/src/main/java/kr/co/data/mapper/UserMapper.kt
  core/data/src/main/java/kr/co/data/mapper/WeatherForecastMapper.kt
  core/data/src/main/java/kr/co/data/model/data/WeatherForecastData.kt
  core/data/src/main/java/kr/co/data/source/remote/ScheduleRemoteDataSource.kt
  core/domain/src/main/java/kr/co/domain/entity/UserEntity.kt
  core/domain/src/main/java/kr/co/domain/entity/WeatherForecastEntity.kt
  core/domain/src/main/java/kr/co/domain/usecase/user/RegisterUserUseCase.kt
  core/remote/src/main/java/kr/co/remote/ScheduleRemoteDataSourceImpl.kt
  core/remote/src/main/java/kr/co/remote/mapper/WeatherRemoteMapper.kt
  core/ui/src/main/java/kr/co/ui/icon/dreamicon/Dots.kt
  core/ui/src/main/java/kr/co/ui/icon/dreamicon/Partlycloudy.kt
  core/ui/src/main/java/kr/co/ui/icon/dreamicon/Partlycloudycloudy.kt
  core/ui/src/main/java/kr/co/ui/icon/dreamicon/Rainthunder.kt
  core/ui/src/main/java/kr/co/ui/icon/dreamicon/Rainthundercloudy.kt
  core/ui/src/main/java/kr/co/ui/icon/dreamicon/Rainy.kt
  core/ui/src/main/java/kr/co/ui/icon/dreamicon/Rainycloudy.kt
  core/ui/src/main/java/kr/co/ui/icon/dreamicon/Snowrain.kt
  core/ui/src/main/java/kr/co/ui/icon/dreamicon/Snowraincloudy.kt
  core/ui/src/main/java/kr/co/ui/icon/dreamicon/Snowy.kt
  core/ui/src/main/java/kr/co/ui/icon/dreamicon/Snowycloudy.kt
  core/ui/src/main/java/kr/co/ui/icon/dreamicon/Sunny.kt
  core/ui/src/main/java/kr/co/ui/widget/DreamListDialog.kt
  core/ui/src/main/java/kr/co/ui/widget/DreamLocationSearchScreen.kt
  core/ui/src/main/java/kr/co/ui/widget/DreamTopAppBar.kt
  core/ui/src/main/res/drawable/img_deafault_profile.png
  feature/main/src/main/java/kr/co/main/home/HomeRoute.kt
  feature/main/src/main/java/kr/co/main/home/HomeViewModel.kt
  feature/main/src/main/java/kr/co/main/home/chat/ChatRoute.kt
  feature/main/src/main/java/kr/co/main/home/chat/ChatViewModel.kt
  feature/main/src/main/java/kr/co/main/mapper/home/HomeScheduleUiMapper.kt
  feature/main/src/main/java/kr/co/main/mapper/home/WeatherSkyMapper.kt
  feature/main/src/main/java/kr/co/main/model/home/WeatherSkyMapper.kt
  feature/main/src/main/java/kr/co/main/model/my/MyPageProfileDialog.kt
  feature/main/src/main/java/kr/co/main/my/MyPageRoute.kt
  feature/main/src/main/java/kr/co/main/my/profile/MyPageProfileEditRoute.kt
  feature/main/src/main/java/kr/co/main/my/profile/MyPageProfileEditViewModel.kt
  feature/main/src/main/java/kr/co/main/navigation/MainNavigation.kt
Labels: 🤖 android, 🛠️ refactor

#154 Feature/mypage written 작성한 글/ 댓글 보기
  core/data/src/main/java/kr/co/data/model/data/community/CommentResData.kt
  core/domain/src/main/java/kr/co/domain/entity/CommentEntity.kt
  core/domain/src/main/java/kr/co/domain/usecase/community/GetMyBulletinsUseCase.kt
  core/domain/src/main/java/kr/co/domain/usecase/community/GetMyCommentsUseCase.kt
  core/remote/src/main/java/kr/co/remote/model/response/community/CommentResDto.kt
  core/remote/src/main/java/kr/co/remote/serializer/LocalDateTimeSerializer.kt
  core/ui/src/main/java/kr/co/ui/icon/dreamicon/Bookmarkoff.kt
  core/ui/src/main/java/kr/co/ui/icon/dreamicon/Bookmarkon.kt
  core/ui/src/main/java/kr/co/ui/icon/dreamicon/Tobot.kt
  core/ui/src/main/java/kr/co/ui/theme/Type.kt
  feature/main/src/main/java/kr/co/main/community/detail/BulletinDetailScreen.kt
  feature/main/src/main/java/kr/co/main/community/detail/BulletinDetailViewModel.kt
  feature/main/src/main/java/kr/co/main/home/chat/ChatRoute.kt
  feature/main/src/main/java/kr/co/main/mapper/my/MyPageBulletinMapper.kt
  feature/main/src/main/java/kr/co/main/mapper/my/MyPageCommentMapper.kt
  feature/main/src/main/java/kr/co/main/my/MyPageRoute.kt
  feature/main/src/main/java/kr/co/main/my/community/MyPageWriteRoute.kt
  feature/main/src/main/java/kr/co/main/my/community/MyPageWriteViewModel.kt
  feature/main/src/main/java/kr/co/main/my/profile/MyPageProfileEditRoute.kt
  feature/main/src/main/java/kr/co/main/my/profile/MyPageProfileEditViewModel.kt
  feature/main/src/main/java/kr/co/main/navigation/MainNavigation.kt
Labels: 🤖 android, ✨ feat

#155 Feature/mypage bookmark
  core/domain/src/main/java/kr/co/domain/entity/CommentEntity.kt
  core/domain/src/main/java/kr/co/domain/usecase/community/GetBookmarkUseCase.kt
  core/remote/src/main/java/kr/co/remote/AuthRemoteDataSourceImpl.kt
  core/ui/src/main/java/kr/co/ui/widget/DreamCenterTopAppBar.kt
  feature/main/src/main/java/kr/co/main/mapper/my/MyPageBulletinMapper.kt
  feature/main/src/main/java/kr/co/main/mapper/my/MyPageCommentMapper.kt
  feature/main/src/main/java/kr/co/main/my/community/bookmark/MyPageBookmarkRoute.kt
  feature/main/src/main/java/kr/co/main/my/community/bookmark/MyPageBookmarkViewModel.kt
  feature/main/src/main/java/kr/co/main/my/community/written/MyPageWriteRoute.kt
  feature/main/src/main/java/kr/co/main/my/community/written/MyPageWriteViewModel.kt
  feature/main/src/main/java/kr/co/main/my/setting/MyPageSettingRoute.kt
  feature/main/src/main/java/kr/co/main/navigation/MainNavigation.kt
Labels: 🤖 android, 🎨design

#156 Feature/post 북마크한 글 보는 페이지
  core/common/src/main/java/kr/co/common/util/DateFormatter.kt
  core/data/src/main/java/kr/co/data/model/data/community/BulletinResData.kt
  core/domain/src/main/java/kr/co/domain/entity/BulletinEntity.kt
  core/remote/src/main/java/kr/co/remote/model/response/community/BulletinResDto.kt
  feature/main/src/main/java/kr/co/main/community/CommunityScreen.kt
  feature/main/src/main/java/kr/co/main/my/community/MyPageWriteRoute.kt
  feature/main/src/main/java/kr/co/main/my/community/MyPageWriteViewModel.kt
  feature/main/src/main/java/kr/co/main/my/community/bookmark/MyPageBookmarkRoute.kt
  feature/main/src/main/java/kr/co/main/my/community/bookmark/MyPageBookmarkViewModel.kt
  feature/main/src/main/java/kr/co/main/my/community/written/MyPageWriteRoute.kt
  feature/main/src/main/java/kr/co/main/my/community/written/MyPageWriteViewModel.kt
  feature/main/src/main/java/kr/co/main/navigation/MainNavigation.kt
  feature/main/src/main/java/kr/co/main/ui/DreamMainPostCard.kt
Labels: 🤖 android, 🛠️ refactor, 🎨design

#162 Feature/community detail
  core/remote/src/main/java/kr/co/remote/model/response/community/CommentResDto.kt
  core/ui/src/main/java/kr/co/ui/widget/DreamDialog.kt
  feature/main/src/main/java/kr/co/main/community/detail/BulletinDetailScreen.kt
  feature/main/src/main/java/kr/co/main/community/detail/BulletinDetailViewModel.kt
  feature/main/src/main/java/kr/co/main/community/writing/BulletinWritingScreen.kt
Labels: 🐞 bug, 🤖 android, ✨ feat

#164 재배 작물/반가워요 화면으로 nullable한 데이터 전달로 수정
  core/data/src/main/java/kr/co/data/model/data/user/UserData.kt
  core/data/src/main/java/kr/co/data/repository/UserRepositoryImpl.kt
  core/domain/src/main/java/kr/co/domain/entity/UserEntity.kt
  core/domain/src/main/java/kr/co/domain/usecase/user/RegisterInfoUseCase.kt
  core/domain/src/main/java/kr/co/domain/usecase/user/SaveUserLocalUseCase.kt
  core/local/src/main/java/kr/co/local/mapper/UserLocalMapper.kt
  core/remote/src/main/java/kr/co/remote/model/request/user/PutUserRequest.kt
  core/ui/src/main/java/kr/co/ui/widget/CustomButton.kt
  core/ui/src/main/res/drawable/img_welcome.png
  feature/main/src/main/java/kr/co/main/home/chat/ChatViewModel.kt
  feature/main/src/main/java/kr/co/main/my/profile/MyPageProfileEditViewModel.kt
  feature/main/src/main/java/kr/co/main/my/setting/crop/MyPageCropSelectViewModel.kt
  feature/onboard/src/main/java/kr/co/onboard/address/InputAddressScreen.kt
  feature/onboard/src/main/java/kr/co/onboard/address/InputAddressViewModel.kt
  feature/onboard/src/main/java/kr/co/onboard/crop/SelectCropScreen.kt
  feature/onboard/src/main/java/kr/co/onboard/login/Login.kt
  feature/onboard/src/main/java/kr/co/onboard/navigation/OnBoardNavigation.kt
  feature/onboard/src/main/java/kr/co/onboard/welcome/WelcomeScreen.kt
  feature/onboard/src/main/java/kr/co/onboard/welcome/WelcomeViewModel.kt
Labels: 🤖 android, ✨ feat

#167 Feature/accountbook
  core/remote/src/main/java/kr/co/remote/ServerImageRemoteDataSourceImpl.kt
  core/ui/src/main/res/drawable/img_graph.xml
  feature/main/src/main/java/kr/co/main/accountbook/content/AccountBookContent.kt
  feature/main/src/main/java/kr/co/main/accountbook/content/AccountBookContentViewModel.kt
  feature/main/src/main/java/kr/co/main/accountbook/create/AccountBookCreateRoute.kt
  feature/main/src/main/java/kr/co/main/accountbook/create/AccountBookCreateViewModel.kt
  feature/main/src/main/java/kr/co/main/accountbook/main/AccountBookBottomSheet.kt
  feature/main/src/main/java/kr/co/main/accountbook/main/AccountBookGraph.kt
  feature/main/src/main/java/kr/co/main/accountbook/main/AccountBookRoute.kt
  feature/main/src/main/java/kr/co/main/accountbook/main/AccountBookViewModel.kt
  feature/main/src/main/java/kr/co/main/accountbook/model/ColorList.kt
  feature/main/src/main/java/kr/co/main/accountbook/model/DateRangeOption.kt
  feature/main/src/main/java/kr/co/main/accountbook/model/EntryType.kt
  feature/main/src/main/java/kr/co/main/navigation/MainNavigation.kt
Labels: 🤖 android, ✨ feat, 🎨design

#172 Feature/accountbook
  feature/main/src/main/java/kr/co/main/accountbook/create/AccountBookCreateRoute.kt
  feature/main/src/main/java/kr/co/main/accountbook/main/AccountBookBottomSheet.kt
  feature/main/src/main/java/kr/co/main/accountbook/model/DatePickerDialog.kt
  feature/main/src/main/java/kr/co/main/accountbook/model/FormatDateTime.kt
Labels: 🤖 android

#174 재배 작물 선택 시 리플효과 없앰/온보딩 디자인 수정
  feature/onboard/src/main/java/kr/co/onboard/address/InputAddressScreen.kt
  feature/onboard/src/main/java/kr/co/onboard/crop/SelectCropScreen.kt
  feature/onboard/src/main/java/kr/co/onboard/navigation/OnBoardNavigation.kt
  feature/onboard/src/main/java/kr/co/onboard/welcome/WelcomeScreen.kt
  feature/onboard/src/main/res/values/strings.xml
Labels: 🤖 android, ✨ feat

#176 Feature/community
  feature/main/src/main/java/kr/co/main/community/CommunityCommonComposables.kt
  feature/main/src/main/java/kr/co/main/community/CommunityScreen.kt
  feature/main/src/main/java/kr/co/main/community/CommunityViewModel.kt
  feature/main/src/main/java/kr/co/main/community/writing/BulletinWritingScreen.kt
  feature/main/src/main/java/kr/co/main/community/writing/BulletinWritingViewModel.kt
  feature/main/src/main/java/kr/co/main/navigation/MainNavigation.kt
Labels: 🤖 android, ✨ feat

#175 일정 추가 화면 UI
  core/ui/src/main/res/values/strings.xml
  feature/main/src/main/java/kr/co/main/calendar/common/AddScreenCenterTopAppBar.kt
  feature/main/src/main/java/kr/co/main/calendar/common/CalendarTextFields.kt
  feature/main/src/main/java/kr/co/main/calendar/common/input/CalendarDatePicker.kt
  feature/main/src/main/java/kr/co/main/calendar/screen/addDiaryScreen/AddDiaryScreen.kt
  feature/main/src/main/java/kr/co/main/calendar/screen/addScheduleScreen/AddScheduleScreen.kt
  feature/main/src/main/java/kr/co/main/calendar/screen/addScheduleScreen/AddScheduleViewModel.kt
  feature/main/src/main/java/kr/co/main/calendar/screen/calendarScreen/CalendarScreen.kt
  feature/main/src/main/res/values/calendar_strings.xml
Labels: 🤖 android, 🎨design

#178 Feature/community
  feature/main/src/main/java/kr/co/main/community/CommunityScreen.kt
  feature/main/src/main/java/kr/co/main/community/detail/BulletinDetailScreen.kt
Labels: 🤖 android, ✨ feat, 🎨design

#177 Refactor: Graph 디자인 수정
  feature/main/src/main/java/kr/co/main/accountbook/content/AccountBookContent.kt
  feature/main/src/main/java/kr/co/main/accountbook/content/AccountBookContentViewModel.kt
  feature/main/src/main/java/kr/co/main/accountbook/create/AccountBookCreateRoute.kt
  feature/main/src/main/java/kr/co/main/accountbook/create/AccountBookCreateViewModel.kt
  feature/main/src/main/java/kr/co/main/accountbook/main/AccountBookGraph.kt
  feature/main/src/main/java/kr/co/main/accountbook/main/AccountBookRoute.kt
  feature/main/src/main/java/kr/co/main/accountbook/main/AccountBookViewModel.kt
  feature/main/src/main/java/kr/co/main/accountbook/model/AlertDialog.kt
  feature/main/src/main/java/kr/co/main/accountbook/model/ColorList.kt
  feature/main/src/main/java/kr/co/main/accountbook/model/DateRangeOption.kt
  feature/main/src/main/java/kr/co/main/navigation/MainNavigation.kt
Labels: 🤖 android, ✨ feat, 🎨design

#183 Feat: 게시글 신고 기능
  feature/main/src/main/java/kr/co/main/community/CommunityCommonComposables.kt
  feature/main/src/main/java/kr/co/main/community/detail/BulletinDetailScreen.kt
  feature/main/src/main/java/kr/co/main/community/detail/BulletinDetailViewModel.kt
Labels: 🤖 android, ✨ feat

#185 Feature/community
  core/ui/src/main/java/kr/co/ui/widget/DreamBottomSheetWithTextButtons.kt
  feature/main/src/main/java/kr/co/main/community/CommunityBottomSheets.kt
  feature/main/src/main/java/kr/co/main/community/CommunityScreen.kt
  feature/main/src/main/java/kr/co/main/community/detail/BulletinDetailScreen.kt
  feature/main/src/main/java/kr/co/main/community/writing/BulletinWritingScreen.kt
  feature/main/src/main/java/kr/co/main/community/writing/BulletinWritingViewModel.kt
  feature/main/src/main/java/kr/co/main/navigation/MainNavigation.kt
  feature/main/src/main/java/kr/co/main/ui/DreamMainPostCard.kt
Labels: 🤖 android, ✨ feat, 🎨design

#186 Feature/community
  feature/main/src/main/java/kr/co/main/community/detail/BulletinDetailScreen.kt
Labels: 🛠️ refactor

#187 농작업 일정 캘린더 고침
  core/common/src/main/java/kr/co/common/model/CustomException.kt
  core/common/src/main/java/kr/co/common/util/FileUtil.kt
  core/data/src/main/java/kr/co/data/mapper/HolidayMapper.kt
  core/domain/src/main/java/kr/co/domain/entity/type/CropType.kt
  core/domain/src/main/java/kr/co/domain/entity/type/FarmWorkEraType.kt
  core/domain/src/main/java/kr/co/domain/entity/type/FarmWorkType.kt
  core/domain/src/main/java/kr/co/domain/entity/type/HolidayType.kt
  core/domain/src/main/java/kr/co/domain/entity/type/ScheduleType.kt
  core/domain/src/main/java/kr/co/domain/entity/type/WorkDescriptionType.kt
  core/domain/src/main/java/kr/co/domain/usecase/calendar/GetUserCropsUseCase.kt
  core/oauth/src/main/kotlin/kr/co/oauth/KakaoLoginProviderImpl.kt
  core/ui/src/main/java/kr/co/ui/base/BaseViewModel.kt
  feature/main/src/main/java/kr/co/main/calendar/screen/calendarScreen/CalendarScreen.kt
  feature/main/src/main/java/kr/co/main/calendar/screen/calendarScreen/CalendarScreenViewModel.kt
  feature/main/src/main/java/kr/co/main/calendar/screen/calendarScreen/ScheduleTab.kt
  feature/main/src/main/java/kr/co/main/calendar/screen/calendarScreen/calendar/DiaryCalendar.kt
  feature/main/src/main/java/kr/co/main/calendar/screen/calendarScreen/calendar/FarmWorkCalendar.kt
  feature/onboard/src/main/java/kr/co/onboard/OnBoardRoute.kt
Labels: ✨ feat

#188 Feature/accountbook
  feature/main/src/main/java/kr/co/main/accountbook/content/AccountBookContent.kt
  feature/main/src/main/java/kr/co/main/accountbook/create/AccountBookCreateRoute.kt
Labels: 🎨design

#189 Feature/search diary 영농일지 검색
  .idea/deploymentTargetSelector.xml
  app/src/main/res/values/colors.xml
  app/src/main/res/values/themes.xml
  core/common/src/main/java/kr/co/common/util/DateFormatter.kt
  core/common/src/main/java/kr/co/common/util/Flows.kt
  core/data/src/main/java/kr/co/data/model/data/calendar/FarmWorkData.kt
  core/domain/src/main/java/kr/co/domain/entity/FarmWorkEntity.kt
  core/domain/src/main/java/kr/co/domain/usecase/calendar/GetFarmWorksUseCase.kt
  core/domain/src/main/java/kr/co/domain/usecase/community/GetMyBulletinsUseCase.kt
  core/remote/src/main/java/kr/co/remote/HolidayRemoteDataSourceImpl.kt
  core/remote/src/main/java/kr/co/remote/mapper/calendar/HolidayRemoteMapper.kt
  core/remote/src/main/java/kr/co/remote/model/response/calendar/DiaryListResponse.kt
  core/remote/src/main/java/kr/co/remote/model/response/calendar/FarmWorkListResponse.kt
  core/remote/src/main/java/kr/co/remote/model/response/calendar/HolidayListResponse.kt
  core/ui/src/main/java/kr/co/ui/theme/Color.kt
  core/ui/src/main/java/kr/co/ui/widget/DreamSnackBarHost.kt
  feature/main/src/main/java/kr/co/main/calendar/screen/searchDiaryScreen/SearchDiaryScreen.kt
  feature/main/src/main/java/kr/co/main/calendar/screen/searchDiaryScreen/SearchDiaryScreenViewModel.kt
  feature/main/src/main/java/kr/co/main/home/HomeViewModel.kt
  feature/main/src/main/java/kr/co/main/model/calendar/FarmWorkModel.kt
  feature/main/src/main/java/kr/co/main/my/community/written/MyPageWriteViewModel.kt
Labels: 🤖 android, ✨ feat

#190 Feat: 커뮤니티 글 작성시 커뮤니티 화면 업데이트
  feature/main/src/main/java/kr/co/main/accountbook/main/AccountBookRoute.kt
  feature/main/src/main/java/kr/co/main/community/CommunityScreen.kt
  feature/main/src/main/java/kr/co/main/community/CommunityViewModel.kt
  feature/main/src/main/java/kr/co/main/community/writing/BulletinWritingScreen.kt
  feature/main/src/main/java/kr/co/main/community/writing/BulletinWritingViewModel.kt
  feature/main/src/main/java/kr/co/main/navigation/MainNavigation.kt
Labels: 🤖 android, ✨ feat

#192 Feature/community
  core/domain/src/main/java/kr/co/domain/entity/BulletinEntity.kt
  feature/main/src/main/java/kr/co/main/community/detail/BulletinDetailScreen.kt
  feature/main/src/main/java/kr/co/main/community/detail/BulletinDetailViewModel.kt
  feature/main/src/main/java/kr/co/main/ui/DreamMainPostCard.kt
Labels: 🐞 bug, 🤖 android, ✨ feat

#196 Design: 게시물 없을 때 text 위치 조정
  feature/main/src/main/java/kr/co/main/community/CommunityScreen.kt
Labels: 🎨design

#195 일정 작성, 편집, 추가 기능 완성
  core/domain/src/main/java/kr/co/domain/usecase/calendar/GetHolidaysUseCase.kt
  core/remote/src/main/java/kr/co/remote/HolidayRemoteDataSourceImpl.kt
  core/remote/src/main/java/kr/co/remote/mapper/calendar/HolidayRemoteMapper.kt
  core/remote/src/main/java/kr/co/remote/model/response/calendar/DiaryListResponse.kt
  core/remote/src/main/java/kr/co/remote/model/response/calendar/HolidayResponse.kt
  feature/main/src/main/java/kr/co/main/calendar/CalendarDesignToken.kt
  feature/main/src/main/java/kr/co/main/calendar/common/AddScreenCenterTopAppBar.kt
  feature/main/src/main/java/kr/co/main/calendar/common/content/ScheduleContent.kt
  feature/main/src/main/java/kr/co/main/calendar/screen/addScheduleScreen/AddScheduleScreen.kt
  feature/main/src/main/java/kr/co/main/calendar/screen/addScheduleScreen/AddScheduleViewModel.kt
  feature/main/src/main/java/kr/co/main/calendar/screen/calendarScreen/CalendarScreen.kt
  feature/main/src/main/java/kr/co/main/calendar/screen/calendarScreen/CalendarScreenViewModel.kt
  feature/main/src/main/java/kr/co/main/calendar/screen/calendarScreen/ScheduleTab.kt
  feature/main/src/main/java/kr/co/main/calendar/screen/calendarScreen/calendar/DiaryCalendar.kt
  feature/main/src/main/java/kr/co/main/calendar/screen/calendarScreen/calendar/ScheduleCalendar.kt
  feature/main/src/main/java/kr/co/main/navigation/CalendarNavGraph.kt
  feature/main/src/main/java/kr/co/main/navigation/MainNavigation.kt
  feature/main/src/main/res/values/calendar_strings.xml
Labels: 🤖 android, ✨ feat

#199 일정 날짜/기간 선택 구현 완료
  core/data/src/main/java/kr/co/data/mapper/ScheduleMapper.kt
  feature/main/src/main/java/kr/co/main/calendar/common/CalendarDatePicker.kt
  feature/main/src/main/java/kr/co/main/calendar/screen/addDiaryScreen/AddDiaryScreen.kt
  feature/main/src/main/java/kr/co/main/calendar/screen/addScheduleScreen/AddScheduleScreen.kt
  feature/main/src/main/java/kr/co/main/calendar/screen/addScheduleScreen/AddScheduleViewModel.kt
  feature/main/src/main/java/kr/co/main/calendar/screen/calendarScreen/CalendarScreen.kt
  feature/main/src/main/java/kr/co/main/calendar/screen/calendarScreen/CalendarScreenViewModel.kt
  feature/main/src/main/java/kr/co/main/calendar/screen/calendarScreen/calendar/ScheduleCalendar.kt
  feature/main/src/main/java/kr/co/main/model/calendar/ScheduleModel.kt
Labels: 🤖 android, ✨ feat, 🎨design

#197 Feature/community
  core/data/src/main/java/kr/co/data/model/data/community/CommentResData.kt
  core/domain/src/main/java/kr/co/domain/entity/CommentEntity.kt
  core/remote/src/main/java/kr/co/remote/model/response/community/CommentResDto.kt
  feature/main/src/main/java/kr/co/main/community/CommunityScreen.kt
  feature/main/src/main/java/kr/co/main/community/CommunityViewModel.kt
  feature/main/src/main/java/kr/co/main/community/detail/BulletinDetailScreen.kt
  feature/main/src/main/java/kr/co/main/community/detail/BulletinDetailViewModel.kt
  feature/main/src/main/java/kr/co/main/community/writing/BulletinWritingScreen.kt
  feature/main/src/main/java/kr/co/main/community/writing/BulletinWritingViewModel.kt
  feature/main/src/main/java/kr/co/main/ui/DreamMainPostCard.kt
Labels: 🐞 bug, 🤖 android, ✨ feat

#201 영농일지 추가 후 화면 갱신, 마이페이지 이동 다이얼로그, 영농일지 삭제 다이얼로그
  core/ui/src/main/java/kr/co/ui/widget/DreamDialog.kt
  core/ui/src/main/java/kr/co/ui/widget/DreamSwitch.kt
  core/ui/src/main/res/values/strings.xml
  feature/main/src/main/java/kr/co/main/calendar/screen/addDiaryScreen/AddDiaryScreen.kt
  feature/main/src/main/java/kr/co/main/calendar/screen/addDiaryScreen/AddDiaryViewModel.kt
  feature/main/src/main/java/kr/co/main/calendar/screen/addScheduleScreen/AddScheduleScreen.kt
  feature/main/src/main/java/kr/co/main/calendar/screen/calendarScreen/CalendarScreen.kt
  feature/main/src/main/java/kr/co/main/model/calendar/type/CropModelColorType.kt
  feature/main/src/main/java/kr/co/main/navigation/MainNavigation.kt
  feature/main/src/main/res/values/calendar_strings.xml
  feature/onboard/src/main/java/kr/co/onboard/OnBoardRoute.kt
  feature/onboard/src/main/java/kr/co/onboard/address/InputAddressScreen.kt
  feature/onboard/src/main/java/kr/co/onboard/crop/SelectCropScreen.kt
Labels: 🤖 android, ✨ feat

#200 Feature/dream dialog dismissrequest
  core/ui/src/main/java/kr/co/ui/widget/DreamDialog.kt
  feature/main/src/main/java/kr/co/main/calendar/screen/addScheduleScreen/AddScheduleScreen.kt
  feature/main/src/main/java/kr/co/main/calendar/screen/calendarScreen/CalendarScreen.kt
  feature/main/src/main/java/kr/co/main/community/detail/BulletinDetailScreen.kt
  feature/main/src/main/java/kr/co/main/community/detail/BulletinDetailViewModel.kt
  feature/main/src/main/java/kr/co/main/my/setting/MyPageSettingRoute.kt
  feature/main/src/main/java/kr/co/main/my/setting/delete/MyPageSettingDeleteAccountRoute.kt
Labels: 🤖 android, 🛠️ refactor

#204 Refactor: 커뮤니티쪽 Navigation 루트 포맷팅
  feature/main/src/main/java/kr/co/main/navigation/MainNavigation.kt
Labels: 🤖 android, 🛠️ refactor

#203 Feature/community
  core/domain/src/main/java/kr/co/domain/entity/CommentEntity.kt
  core/ui/src/main/java/kr/co/ui/widget/DreamBottomSheetWithTextButtons.kt
  feature/main/src/main/java/kr/co/main/community/CommunityBottomSheets.kt
  feature/main/src/main/java/kr/co/main/community/CommunityCommonComposables.kt
  feature/main/src/main/java/kr/co/main/community/CommunityScreen.kt
  feature/main/src/main/java/kr/co/main/community/CommunityViewModel.kt
  feature/main/src/main/java/kr/co/main/community/detail/BulletinDetailScreen.kt
  feature/main/src/main/java/kr/co/main/community/detail/BulletinDetailViewModel.kt
  feature/main/src/main/java/kr/co/main/community/temp/TempCommunityApp.kt
  feature/main/src/main/java/kr/co/main/community/temp/WritingSelectedImageModel.kt
  feature/main/src/main/java/kr/co/main/community/temp/navigation/CommunityNavigation.kt
  feature/main/src/main/java/kr/co/main/community/temp/util_yj.kt
  feature/main/src/main/java/kr/co/main/community/writing/BulletinWritingScreen.kt
  feature/main/src/main/java/kr/co/main/community/writing/BulletinWritingViewModel.kt
Labels: 🐞 bug, 🤖 android, 🛠️ refactor, ✨ feat, 🎨design
